.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.comment-header {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #777;
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
  margin-right: 10px;
}

.comment-date {
  font-style: italic;
}

.comment-text {
  margin-bottom: 10px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 0.9em;
  max-width: 100%;
  box-sizing: border-box;
}

code {
  font-family: monospace;
  font-size: 0.9em;
}

.nested-comments {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}
